.my_keypad {
    background-color: slategrey;
    color: white;
    border: none;
  
    width: 35px;
    height: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 400px; 
}

#title {
    font-size: 36px; 
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 415px;
    height: 360 px;
    margin: 100px auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* box */
    border: 2px solid lightgrey;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 10%;

    /* text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #619978;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #8d8f91;
    color: white;
    border-color: white
}

.eg {
    background-color: #e3a1a9;
    color: white;
    border-color: white;
}

.temp {
    /* box */
    border: 2px solid red;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    border-radius: 10%;

    /* text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#keypad {
    width: 400px;
    height: 200 px;
    margin: 100px auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.pad {
    /* box */
    border: 2px solid darkgray;
    background-color: darkgray;
    width: 35px;
    height: 50px;
    margin: 2.5px;
    border-radius: 10%;

    /* text */
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pad:active {
    background-color: dimgray;
}

.disabled_pad {
    /* box */
    border: 2px solid dimgray;
    background-color: dimgray;
    width: 35px;
    height: 50px;
    margin: 2.5px;
    border-radius: 10%;

    /* text */
    color: white;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.longpad {
    /* box */
    border: 2px solid darkgray;
    background-color: darkgray;
    width: 95px;
    height: 50px;
    margin: 2.5px;
    border-radius: 5px;

    /* text */
    color: white;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.longpad:active {
    background-color: dimgray;
}